.modal{
    &-mask{
      position: fixed;
      z-index: 1100;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);    
      transition: opacity .3s ease;
      overflow: auto;
    }
    &-container{
      max-width: 1200px;
      margin: 20px auto;    
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;
      font-family: Helvetica, Arial, sans-serif;
    }
    &-footer{
      padding: .5rem;
      display: block;
    }
    &-header{
      border: 0;
      padding: .5rem;
    }  
  }
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  @media (max-width: 480px) {
    .modal-mask {
      padding: 15px;
    }
  
    .modal-container {
      .modal-body {
        
      }
    }
  }