<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테스트</title>
</head>
<body>
    <h2>파일 업로드 테스트</h2>
    <div>
        <input id="class1" type="file" multiple>클래스1
    </div>

    <div>
        <button onclick="classFiles()">전송</button>
    </div>

    
</body>
<script>
    async function classFiles() {
        let class1 = document.getElementById('class1').files

        let base64Array = {
            'Class_1': []
        }

        Array.from(class1).forEach(async (item, idx) => {
            let value = {}
            value[`image_${idx}`] = item

            base64Array['Class_1'].push(value)
        })

        console.log(base64Array)

        let res = await fetch('http://192.168.0.106:5000/api/upload', {
            method: 'POST',
            header: {
                'Content-Type': 'multipart/form-data'
            },
            body: {
                data: base64Array
            }
        })

        console.log(res)
    }
</script>
</html>